body{
    margin-left: 20px ;
}

.chat{

    background-color: aliceblue;
    padding: 20px;
    border-radius: 3rem;
    display: inline-block;

}
.msg{
    background-color: lightgreen;
    color: black;
}